@import "tailwindcss";

@theme {
  --color-wine: #4C0004;
  --color-algae: #AFA231;
  --color-wasabi: #DCD189;
  --color-cream: #FDFDF8;
  --color-wine-black: #1A0001;
  
  --font-inter: var(--font-inter);
  --font-outfit: var(--font-outfit);
}

@layer base {
  body {
    @apply font-inter antialiased bg-wine text-wasabi;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-outfit;
  }
}

/* Lenis Recommended Styles */
html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}
